@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@foreach (var client in Model)
{
    <p>ID: @client.Id, IP Address: @client.IPAddress, Port: @client.Port, Jobs Completed: @client.JobsCompleted</p>
}
